{% extends "base.html" %}

{% block meta_title %} - О нас {% endblock %}

{% block content %}

<div class="row">
    <!-- Heading row-->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">О нас
                <small>База на Врубовой</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->
    <!-- About row-->
    <div class="caption-full">
        <p><strong>Оптово-розничная  база</strong>, расположенная в центре города по адресу: ул. Врубовая, 36, 40 имеет большое социальное значение не только для Ворошиловского района но и для города в целом. База пользуется известностью как у горожан так и у иногородних своими низкими и доступными  ценами.
        </p>
        <p><strong>Оптово-розничная база №2</strong> специализируется на продаже
        продуктов питания и хозяйственных товаров оптом и в розницу.
        На <a href="{{ url_for('warehouse.static_page', page_name='schema') }}">большой территории базы (на Врубовой 36, 40)</a> - огромный
        выбор свежих, замороженных и охлажденных продуктов питания.</p>
        <h3>Наши преимущества:</h3>
        <ul>
            <li>Удобное расположение базы (центр города Ростова-на-Дону)</li>
            <li>Возможность оптово-розничных покупок</li>
            <li>Цены ниже магазинных</li>
            <li>Все товары любой категории в одном месте</li>
            <li>Огромный выбор всего</li>
            <li>Свежесть и Качество!</li>
        </ul>
        <img class="img-thumbnail" src="{{ url_for('static', filename='img/base_view.jpg')}}" alt="Оптово-розничная база 2">
    </div>
    <!-- /.row -->
</div>
{% endblock %}