{% extends "base.html" %}

{% block meta_title %} - О нас {% endblock %}

{% block menu_categories %}
    {% if categories %}
    <div class="col-md-3">
        <p class="lead">Категории продукции</p>
        <div class="list-group">
        {% for category in categories %}
            <a href="{{ url_for('warehouse.index', id=category.id) }}" class="list-group-item">{{ category }}</a>
        {% endfor %}
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block content %}

<div class="row">
    
</div>
{% endblock %}