{% extends "base.html" %}

{% block meta_title %} - Контакты {% endblock %}

{% block content %}

<div class="row">
   <!-- Heading row -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Контакты
                <small>База на Врубовой</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <!-- Map Row -->
    <div class="row">

        <div class="col-md-8">
            <a href="https://yandex.ru/maps/?um=constructor:0ab5FvVQ0rtjTqdZOyv40oOXd3pCXmVI&amp;source=constructorStatic" target="_blank"><img src="https://api-maps.yandex.ru/services/constructor/1.0/static/?sid=0ab5FvVQ0rtjTqdZOyv40oOXd3pCXmVI&amp;width=600&amp;height=450&amp;lang=ru_RU&amp;sourceType=constructor" alt="" style="border: 0;" class="img-thumbnail" /></a>
        </div>

        <div class="col-md-4">
            <h3>Адрес:</h3>
            <p>г. Ростов-на-Дону, ул. Врубовая, 36, 40</p>
            <h3>Контакты</h3>
            <ul>
                <li>Тел.: {% if g.is_mobile %}<a href="tel:88632954799">{% endif %}<span style="font-size:150%;">8 863 295-47-99</span>{% if g.is_mobile %}</a>{% endif %}</li>
                <li>Тел.: {% if g.is_mobile %}<a href="tel:88632954801">{% endif %}<span style="font-size:150%;">8 863 295-48-01</span>{% if g.is_mobile %}</a>{% endif %}</li>
                <li>Email: <a href="mailto:rostholod2014@mail.ru">rostholod2014@mail.ru.ru</a></li>
                <li>WWW: <a href="http://www.bazavrubova.ru">http://www.bazavrubova.ru</a></li>
            </ul>
        </div>

    </div>
    <!-- /.row -->

    <!-- Photo Row -->
    <div class="row">

        <div class="col-lg-12">
            <h3 class="page-header">Наша продукция для Вас!</h3>
        </div>

        <div class="col-sm-3 col-xs-6">
            <img class="img-responsive portfolio-item" src="{{ url_for('static', filename='img/contacts_image_food_first.jpg') }}" alt="База на врубовой. Зелень">
        </div>

        <div class="col-sm-3 col-xs-6">
                <img class="img-responsive portfolio-item" src="{{ url_for('static', filename='img/contacts_image_food_second.jpg') }}" alt="База на врубовой. Овощи">
        </div>

        <div class="col-sm-3 col-xs-6">
            <img class="img-responsive portfolio-item" src="{{ url_for('static', filename='img/contacts_image_food_third.jpg') }}" alt="База на врубовой. Молоко">
        </div>

        <div class="col-sm-3 col-xs-6">
            <img class="img-responsive portfolio-item" src="{{ url_for('static', filename='img/contacts_image_food_fourth.jpg') }}" alt="База на врубовой. Рыба">
        </div>
    </div>
    <!-- /.row --> 
</div>
{% endblock %}