{% extends "base.html" %}

{% block meta_title %}{% endblock %}

{% block carousel %}
{% if jumbo_images %}
<div class="row carousel-holder">

    <div class="col-md-12">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
            {% for jumbo_image in jumbo_images %}
                <li data-target="#carousel-example-generic" data-slide-to="{{loop.index0 }}" {% if loop.first %}class="active"{% endif %}></li>
            {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for jumbo_image in jumbo_images %}
                <div class="item {% if loop.first %}active{% endif %}">
                    <img class="slide-image" src="{{ url_for('static', filename=thumbgen_filename(jumbo_image.image)) }}" alt="">
                </div>
                {% endfor %}
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>

</div>
{% endif %}
{% endblock %}

{% block content %}
<div class="row">
    {% import 'warehouse/macros/tenant_short.html' as macros_tenant_short %}
    {% for tenant in tenants_page.items %}
        {{ macros_tenant_short.render_tenant_short(tenant, thumbgen_filename)}}
    {% endfor %}
    
    {% import 'warehouse/macros/pagination.html' as pagination %}
    {{ pagination.render_pagination(tenants_page, 'warehouse.index', category.id)}}
</div>
{% endblock %}