{% extends "base.html" %}

{% block meta_title %}{% endblock %}

{% block carousel %}
{% if jumbo_images %}
<div class="row carousel-holder">

    <div class="col-md-12">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
            {% for jumbo_image in jumbo_images %}
                <li data-target="#carousel-example-generic" data-slide-to="{{loop.index0 }}" {% if loop.first %}class="active"{% endif %}></li>
            {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for jumbo_image in jumbo_images %}
                <div class="item {% if loop.first %}active{% endif %}">
                    <img class="slide-image" src="{{ url_for('static', filename=thumbgen_filename(jumbo_image.image)) }}" alt="">
                </div>
                {% endfor %}
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>

</div>
{% endif %}
{% endblock %}

{% block content %}
<div class="row">
    {% for tenant in tenants_page.items %}
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
        {% if tenant.image is not none %}
            <img src="{{ url_for('static', filename=thumbgen_filename(tenant.image)) }}" alt="http://placehold.it/320x150">
        {% endif %}
            <div class="caption">
                <h4><a href="{{ url_for('warehouse.show_tenant', id=tenant.id) }}">{{ tenant|e }}</a></h4>
                <p>{{ "8 (%s) %s-%s-%s"|format(tenant.phone[:3], tenant.phone[3:5], tenant.phone[5:7],tenant.phone[7:]) |e }}</p>
            {% if tenant.email is not none %}
                <p><a href="mailto:{{ tenant.email|e }}">{{ tenant.email|e }}</a></p>
            {% endif %}
            {% if tenant.www is not none %}
                <p><a href="{{ tenant.www|e }}">{{ tenant.www|e }}</a></p>
            {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    {% import 'warehouse/macros/pagination.html' as pagination %}
    {{ pagination.render_pagination(tenants_page, 'warehouse.index', category.id)}}
</div>
{% endblock %}