{% extends "base.html" %}

{% block meta_title %} - Схема {% endblock %}

{% block additional_assets %}
    <!-- Add mousewheel plugin (this is optional) -->
    <script type="text/javascript" src="{{ url_for('static', filename='fancybox/lib/jquery.mousewheel-3.0.6.pack.js') }}"></script>

    <!-- Add fancyBox -->
    <link rel="stylesheet" href="{{ url_for('static', filename='fancybox/source/jquery.fancybox.css') }}" type="text/css" media="screen" />
    <script type="text/javascript" src="{{ url_for('static', filename='fancybox/source/jquery.fancybox.pack.js') }}"></script>
{% endblock additional_assets %}

{% block content %}
<!-- Portfolio Item Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Схема
            <small>База на Врубовой</small>
        </h1>
    </div>
</div>
<!-- /.row -->
<div class="row col-sm-12 col-lg-12 col-md-12">
    <div class="thumbnail col-sm-12 col-lg-12 col-md-12">
        <div class="img-thumbnail schema">
            <a class="fancybox" href="{{url_for('static', filename='img/schema_vrubova_36.jpg')}}" id="grouped_elements" rel="group_schema">
                <img src="{{url_for('static', filename='img/schema_vrubova_36_thumb.jpg')}}" />
            </a>
        </div>
        <div col-sm-1 col-lg-1 col-md-!>
            <p>Врубовая, 36</p>
        </div>
    </div>
<div class="row col-sm-12 col-lg-12 col-md-12">
    <div class="thumbnail col-sm-12 col-lg-12 col-md-12">
        <div class="img-thumbnail schema">
            <a class="fancybox" href="{{url_for('static', filename='img/schema_vrubova_40.jpg')}}" id="grouped_elements" rel="group_schema">
                <img src="{{url_for('static', filename='img/schema_vrubova_40_thumb.jpg')}}" />
            </a>
        </div>
        <div>
            <p>Врубовая, 40</p>
        </div>
    </div>
</div>
{% endblock %}

{% block additional_scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $(".fancybox").fancybox();
    });
</script>
{% endblock additional_scripts %}